

nav.navmenu{
    position: fixed;
    z-index: 2; 
    top: 0; 
    right: 0; 
    text-align: left; 
    width: 50%; 
    transform: translateY(-140%); 
    transition: all 0.6s; 
}

nav.navmenu ul{
    width: 100%;
    padding: 0;
    position: relative;
    left: 156px;
}

nav.navmenu ul li{
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    width: 28%;
    margin: 0 0 0 173px;
    border-bottom: 3px dotted #333;
}

nav.navmenu ul li:last-child{
    padding-bottom: 0;
}

nav.navmenu ul li a{
    display: block; 
    color: #333;
    font-size: 16px;
    z-index: 100;
    
}
nav.navmenu ul li a:hover {
    background-color: $nana-green;
    color: #fff;
}
nav.navmenu li {
    height: 50px;
    line-height: 50px;
}

nav.navmenu.active{
    transform: translateY(8%);
}

.toggle {
    display: block;
    position: relative;    
    width: 42px;
    height: 41px;
    cursor: pointer;
    z-index: 3;
    padding: 5px;
    bottom: 19px;
    left: 70px;
}

.toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
    left: 6px;
    border: 1px solid #333;
}

.toggle span:nth-child(1) {
    top: 9px;
}

.toggle span:nth-child(2) {
    top: 18px;
}

.toggle span:nth-child(3) {
    top: 27px;
}

.toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}  
.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

h1 {
    font-size: 2.0rem;
    letter-spacing: 5px;
}

.mv {
    padding-bottom: 120px;
    height: 700px;
    &_inner {
        width: 1080px;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-top: 150px;
    }
    &_img  {
        width: 70%;
        img {
            width: 100%;
        }
    }
    &_txt {
        h2 {
            color: $nana-pink;
            font-weight: bold;
            text-shadow: 2px 2px 0 $nana-green,
            -2px 2px 0 $nana-green,
            1px -1px 0 $nana-green,
            -1px -1px 0 $nana-green;
            font-size: 4.0rem;
            line-height: 65px;
        }
        a {
            color: $nana-green;
            line-height: 30px;
        }
    }
    &_nav {
        width: 150px;
        margin: 0 auto;
        li:hover {
            border-bottom: 1px solid grey;
        }
    }
    &_scroll {
        text-align: center;
        position: relative;
        top: 28px;  
        right: 25px;
        margin-top: 80px;
        &-button {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 50%;
            span {
                width: 1em;
                height: 1em;
                
                position: absolute;
                //矢印がずれるためtopなどで位置調整をする
                top: 25%;
                left: 32%;
                transform: rotate(-45deg);
                border-left: 1px solid #F5F5F5;
                border-bottom: 1px solid #F5F5F5;
                z-index: 2;
                animation: popping-arrow 2s infinite ease-out;
            }
        }       
    }
    .mv_scroll a:hover {
        background-color: $nana-green;
    }
}

.about {
    padding-bottom: 120px;
    &_inner {
        width: 1080px;
        max-width: 100%;
        margin: 0 auto;
    }
    &_txt {
        background-color:rgba(192,212,219,0.9);
        padding: 30px 100px 30px 30px;
        position: relative;
        right: 51px;
        line-height: 30px;
        width: 50%;
    }
    &_sns {
        display: flex;
        width: 150px;
        margin: 0 0 0 auto;
        li {
            margin: 0 0 0 auto;
            img {
                width: 30px;
            }
        }
    }
    &_img {
        position: absolute;
        top: 0;
        left:54%;
        width: 50%;
        img {
            width: 100%;
        }
    }
}

.works {
    &_inner {
        width: 1080px;
        max-width: 100%;
        margin: 0 auto;   
    }
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &_box {
        width: 300px;
        margin: 20px 0;
        position: relative;
        overflow: hidden;
        img {
            box-shadow: 5px 5px 18px lightgrey;
            width: 100%;
            height: 212px;
        }
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
    }
}
.works_box:hover {
    transition: .3s;
    position: relative;
    bottom: 10px;
}
.thumbnail-wrapper {
    display: block;
    margin: 0;
    padding: 0;
}
.thumbnail-wrapper::after {
    transition: 0.5s;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
}
.thumbnail-wrapper img{
    display: block;
    max-width: 100%;
}

.more_txt {
        transition: 0.5s;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        padding: 6px 20px;
        width: 100px;
        text-align: center;
        color:#fff;
        font-size: 14px;
        border: 2px solid #fff;
        opacity: 0;
        font-weight: bold;
        letter-spacing: 0.4rem;
    }
    .works_box:hover .thumbnail-wrapper::after {
        opacity: 1;
    }
    .works_box:hover .more_txt {
        opacity: 1;
    }

.skills {
    &_inner {
        width: 1080px;
        background-color: #f9f9f9;
        margin: 0 auto;
        max-width: 100%;
        height: 500px;
        padding-top: 10px;
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 200px;
    }
    &_order {
        li:hover {
            border-bottom: 1px solid #000;
        }
    }
    h2 {
        text-align: center;
    }
    h3 {
        font-weight: bold;
        text-align: left;
    }   
    span {
        display: inline-block;
        width: 30px;
        border-top: 2px solid $nana-pink;
        position: relative;
        bottom: 15px;
    }
    .github {
        width: 200px;
        margin: 50px 0 0 auto;
    }
}

.price {
    position: relative;
    right: 50px;
    h2 {
        text-align: left;
    }
    &_inner {
        width: 1100px;
        max-width: 100%;
        padding: 40px;
        background-color: $nana-green;
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
    }
    &_box {
        width: 22%;
        img {
            width: 100%;
        }
    }
    #_wrapper {
        width: 1210px;
        margin: auto 0 0 0;
        position: relative;
        overflow: hidden;
    }
}

.contact {
    h2 {
        text-align: center;
    }
    &_inner {
        width: 620px;
        max-width: 100%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
    }
    &_mail,&_web {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 20px 30px;

    }
    &_mail {
        border: 1px solid $nana-pink;
        transition: all .3s ease;
        text-align: center;
    }
    &_mail:hover {
        background-color: $nana-pink;
        -webkit-transform: translateY(5px);
    }
    &_web {
        border: 1px solid $nana-green;
        a {
            color: $base;
        }
    }
    &_web:hover {
        background-color: $nana-green;
        -webkit-transform: translateY(5px);

    }
    img {
        width: 30px;
        margin-right: 30px;
    }
}


.footer {
    height: 200px;
    background-color: $nana-pink;
    text-align: center;

    p {
        font-size: 1rem;
        position: relative;
        top: 160px;
        color: #fff;
    }
}



#wrapper {
    position: relative;
    overflow: hidden;
    width: 1080px;
    margin: 0 auto;
}
.slideConts {
    -webkit-transition: .9s;
    -o-transition: .9s;
    transition: .9s;
}
.slideContsR {
    transform: translate(800px, 0);
}  
.slideContsL {
    transform: translate(-800px, 0);
    margin-top: 100px;
}

.slideContsL.show {
    transform: translate(50px, 0) !important;
}

.slideContsR.show {
    transform: translate(-50px, 0) !important;
}



.page {
    position: relative;
}

