html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $base;
    cursor: none;
    position: relative;
}

.cursor,
.follower {
    position: absolute; //bodyの一番左上になるように配置する
    top: 0;
    left: 0; 
    cursor: none; //もともとあるカーソルは見えなくなるようにする
    pointer-events: none; //他の要素がクリックできなくならないように
}
.cursor {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #000;
    z-index: 1001; //どの要素よりも一番上になるようにする
}    
.follower {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #0c7d96;
    opacity: 0.8;
    z-index: 1000; //カーソルの次に上になるようにする
}

.container {
    overflow: hidden;
}

// header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 100%;
    margin-left: 7.8%;
    position: fixed;
    z-index: 1000;
    top: 40px;
}
nav.navmenu{
    position: fixed;
    z-index: 2; 
    top: 0; 
    right: 0; 
    text-align: left; 
    width: 50%; 
    transform: translateY(-140%); 
    transition: all 0.6s; 
}
nav.navmenu ul{
    width: 100%;
    padding: 0;
    position: relative;
    left: 156px;
}
nav.navmenu ul li{
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    width: 28%;
    margin: 0 0 0 173px;
    border-bottom: 3px dotted #333;
}

nav.navmenu ul li:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

nav.navmenu ul li a{
    display: block; 
    color: #333;
    font-size: 16px;
    z-index: 100;  
}
nav.navmenu ul li a:hover {
    background-color: $nana-green;
    color: #fff;
    cursor: none;
}
nav.navmenu li {
    height: 50px;
    line-height: 50px;
}
nav.navmenu.active{
    transform: translateY(8%);
}
.toggle {
    display: block;
    position: relative;    
    width: 42px;
    height: 41px;
    cursor: none;
    z-index: 3;
    padding: 5px;
    bottom: 19px;
    left: 70px;
}
.toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
    left: 6px;
    border: 1px solid #333;
}
.toggle span:nth-child(1) {
    top: 9px;
}
.toggle span:nth-child(2) {
    top: 18px;
}
.toggle span:nth-child(3) {
    top: 27px;
}
.toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}  
.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fix-header {
    opacity: 0;
}


section {
    margin-top: 100px;
    padding-bottom: 100px;
    @include xs {
        margin-top: 0;
    }
}
section.mv {
    margin-top: 0;
}

a:hover {
    cursor: none;
}

h1 {
    padding-bottom: 45px;
    font-size: 2.0rem;
    letter-spacing: 5px;
    a {
        color: $base;
        font-weight: bold;
    }
}

h2 {
    font-size: 4.0rem;
    margin: 30px 0;
    letter-spacing: 5px;
    font-weight: bold;
}
/* 画面外にいる状態 */
.fadein {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 500ms;
}
/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}
.fadeConts {
    width: 500px;
    height: 400px;
    margin: 40px auto;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.fadeConts.show {
    opacity: 1;
}
.block1,.block2 {
    padding: 50px;
    @include sm {
        padding: 0;
    }
}
.block1 {
    position: relative;
    background-color: $nana-pink;   
}
.block1::before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    /*ここで三角形のサイズを決める。
    必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
    border-width: 0 0 100px 100vw ;
    border-color: transparent transparent #fff transparent;
}
.slideConts {
    -webkit-transition: .9s;
    -o-transition: .9s;
    transition: .9s;
}
.slideContsR {
    transform: translate(800px, 0);
}  
.slideContsL {
    transform: translate(-800px, 0);
    margin-top: 100px;
    @include sm {
        margin-top: 0;
    }
}
.slideContsL.show {
    transform: translate(50px, 0) !important;
    @include xs {
        transform: translate(0)!important;
    }
}

.slideContsP {
    transform: translate(-800px, 0);
    margin-top: 100px;
    @include sm {
        margin-top: 0;
    }
}
.slideContsP.show {
    transform: translate(50px, 0) !important;
    @include xs {
        transform: translate(50px)!important;
    }
}

.slideContsR.show {
    transform: translate(-50px, 0) !important;
    @include xs {
        transform: translate(0)!important;
    }
}


.arrow-box {
    transform: rotate(90deg);
    position: relative;
    left: 600px;
    top: 650px;
    @include sm {
        left: 150px;
        top: 160px;
    }
    p {
        position: relative;
        top: 10px;
    }
}


.arrow {
    width: 100px;
    height: 8px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: skew(45deg);
}