@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

.mv {
  padding-bottom: 120px;
  height: 700px; }
  .mv_inner {
    width: 1080px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px; }
  .mv_img {
    width: 70%; }
    .mv_img img {
      width: 100%; }
  .mv_txt h2 {
    color: #e38580;
    font-weight: bold;
    text-shadow: 2px 2px 0 rgba(192, 212, 219, 0.9), -2px 2px 0 rgba(192, 212, 219, 0.9), 1px -1px 0 rgba(192, 212, 219, 0.9), -1px -1px 0 rgba(192, 212, 219, 0.9);
    font-size: 4.0rem;
    line-height: 65px; }
  .mv_txt a {
    color: rgba(192, 212, 219, 0.9);
    line-height: 30px; }
  .mv_nav {
    width: 150px;
    margin: 0 auto; }
    .mv_nav li:hover {
      border-bottom: 1px solid grey; }
  .mv_scroll {
    text-align: center;
    position: relative;
    top: 28px;
    right: 25px;
    margin-top: 80px; }
    .mv_scroll-button {
      position: absolute;
      width: 50px;
      height: 50px;
      border: 1px solid #f5f5f5;
      border-radius: 50%; }
      .mv_scroll-button span {
        width: 1em;
        height: 1em;
        position: absolute;
        top: 25%;
        left: 32%;
        transform: rotate(-45deg);
        border-left: 1px solid #F5F5F5;
        border-bottom: 1px solid #F5F5F5;
        z-index: 2;
        animation: popping-arrow 2s infinite ease-out; }
  .mv .mv_scroll a:hover {
    background-color: rgba(192, 212, 219, 0.9); }

.about {
  padding-bottom: 120px; }
  .about_inner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .about_inner {
        flex-direction: column-reverse; } }
  .about_txt {
    background-color: rgba(192, 212, 219, 0.9);
    padding: 30px 100px 30px 30px;
    line-height: 30px;
    width: 65%; }
    @media screen and (max-width: 767px) {
      .about_txt {
        margin: auto 0 0 0;
        position: relative;
        bottom: 55px; } }
    @media screen and (max-width: 767px) {
      .about_txt {
        padding-right: 30px; } }
  .about_img {
    width: 80%; }
    @media screen and (max-width: 767px) {
      .about_img {
        margin: 0 0 0 auto; } }
    .about_img img {
      width: 100%; }
  .about_sns {
    display: flex;
    width: 150px;
    margin: 0 0 0 auto; }
    @media screen and (max-width: 767px) {
      .about_sns {
        margin-right: 10px; } }
    .about_sns li {
      margin: 0 0 0 auto; }
      .about_sns li img {
        width: 30px; }
  .about #wrapper {
    position: relative;
    overflow: hidden; }

.works_inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto; }
.works_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .works_wrapper {
      padding: 0 40px; } }
  @media screen and (max-width: 500px) {
    .works_wrapper {
      justify-content: center; } }
.works_box {
  width: 300px;
  margin: 20px 0;
  position: relative;
  overflow: hidden; }
  .works_box img {
    box-shadow: 5px 5px 18px lightgrey;
    width: 100%;
    height: 212px; }
.works a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.works_box:hover {
  transition: .3s;
  position: relative;
  bottom: 10px; }

.thumbnail-wrapper {
  display: block;
  margin: 0;
  padding: 0; }

.thumbnail-wrapper::after {
  transition: 0.5s;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0; }

.thumbnail-wrapper img {
  display: block;
  max-width: 100%; }

.more_txt {
  transition: 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 6px 20px;
  width: 100px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border: 2px solid #fff;
  opacity: 0;
  font-weight: bold;
  letter-spacing: 0.4rem; }

.works_box:hover .thumbnail-wrapper::after {
  opacity: 1; }

.works_box:hover .more_txt {
  opacity: 1; }

.skills_inner {
  width: 1080px;
  background-color: #f9f9f9;
  margin: 30px auto 0 auto;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 50px; }
.skills_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 200px; }
  @media screen and (max-width: 1024px) {
    .skills_wrapper {
      padding: 0 150px;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .skills_wrapper {
      flex-direction: column;
      align-items: center;
      padding: 0;
      justify-content: center; } }
@media screen and (max-width: 767px) {
  .skills_box {
    padding-bottom: 30px;
    display: inline-block; } }
.skills_order li:hover {
  border-bottom: 1px solid #000; }
@media screen and (max-width: 767px) {
  .skills_item {
    text-align: center; } }
.skills h2 {
  text-align: center; }
.skills h3 {
  font-weight: bold;
  text-align: left; }
  @media screen and (max-width: 767px) {
    .skills h3 {
      text-align: center; } }
.skills span {
  display: inline-block;
  width: 30px;
  border-top: 2px solid #e38580;
  position: relative;
  bottom: 15px; }
.skills .github {
  width: 200px;
  margin: 50px 0 0 auto; }
@media screen and (max-width: 767px) {
  .skills .cording_span {
    left: 30px; } }

.price {
  position: relative;
  right: 50px; }
  .price h2 {
    text-align: left;
    margin: 30px 0 0 0;
    padding-left: 40px; }
  .price_inner {
    width: 80%;
    max-width: 100%;
    padding: 40px;
    background-color: rgba(192, 212, 219, 0.9); }
    @media screen and (max-width: 767px) {
      .price_inner {
        padding: 40px 0 50px 0;
        width: 100%; } }
    .price_inner p {
      margin: 40px; }
  .price_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px; }
    @media screen and (max-width: 767px) {
      .price_wrapper {
        flex-direction: column; } }
  .price_box {
    width: 22%; }
    @media screen and (max-width: 767px) {
      .price_box {
        width: 50%;
        margin: 0 auto 50px; } }
    .price_box img {
      width: 100%; }
  .price_order {
    margin-top: 30px;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .price_order {
        margin-top: 0; } }
    .price_order li {
      font-weight: bold;
      text-align: left; }
      @media screen and (max-width: 767px) {
        .price_order li {
          text-align: center; } }
  .price #_wrapper {
    width: 1210px;
    margin: auto 0 0 0;
    position: relative;
    overflow: hidden; }

.contact h2 {
  text-align: center; }
.contact_inner {
  width: 800px;
  max-width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .contact_inner {
      flex-wrap: wrap;
      margin-bottom: 0; } }
.contact_mail, .contact_web {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px 37px; }
  @media screen and (max-width: 1024px) {
    .contact_mail, .contact_web {
      margin: 0 auto 30px; } }
.contact_mail {
  border: 1px solid #e38580;
  transition: all .3s ease;
  text-align: center; }
.contact_mail:hover {
  background-color: #e38580;
  -webkit-transform: translateY(5px); }
.contact_web {
  border: 1px solid rgba(192, 212, 219, 0.9); }
  .contact_web a {
    color: #333; }
.contact_web:hover {
  background-color: rgba(192, 212, 219, 0.9);
  -webkit-transform: translateY(5px); }
.contact img {
  width: 30px;
  margin-right: 30px; }

.footer {
  background-color: #e38580;
  text-align: center; }
  .footer_nav {
    width: 75%;
    display: flex;
    margin-left: 7%;
    padding-top: 30px;
    padding-bottom: 200px;
    position: relative; }
    .footer_nav-item a {
      color: #fff;
      padding: 0 10px;
      font-size: 1.2rem; }
    @media screen and (max-width: 767px) {
      .footer_nav {
        margin-left: 0; } }
  .footer p {
    font-size: 1rem;
    padding-bottom: 30px;
    color: #fff; }

.footer_nav li + li:before {
  position: absolute;
  display: block;
  content: "";
  top: 44px;
  height: 14px;
  margin-top: -7px;
  border-right: 1px solid #fff; }

.page {
  position: relative; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #333;
  cursor: none;
  position: relative; }

.cursor,
.follower {
  position: absolute;
  top: 0;
  left: 0;
  cursor: none;
  pointer-events: none; }

.cursor {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #000;
  z-index: 1001; }

.follower {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #0c7d96;
  opacity: 0.8;
  z-index: 1000; }

.container {
  overflow: hidden; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 100%;
  margin-left: 7.8%;
  position: fixed;
  z-index: 1000;
  top: 40px; }

nav.navmenu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  text-align: left;
  width: 50%;
  transform: translateY(-140%);
  transition: all 0.6s; }

nav.navmenu ul {
  width: 100%;
  padding: 0;
  position: relative;
  left: 156px; }

nav.navmenu ul li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 28%;
  margin: 0 0 0 173px;
  border-bottom: 3px dotted #333; }

nav.navmenu ul li:last-child {
  padding-bottom: 0;
  border-bottom: none; }

nav.navmenu ul li a {
  display: block;
  color: #333;
  font-size: 16px;
  z-index: 100; }

nav.navmenu ul li a:hover {
  background-color: rgba(192, 212, 219, 0.9);
  color: #fff;
  cursor: none; }

nav.navmenu li {
  height: 50px;
  line-height: 50px; }

nav.navmenu.active {
  transform: translateY(8%); }

.toggle {
  display: block;
  position: relative;
  width: 42px;
  height: 41px;
  cursor: none;
  z-index: 3;
  padding: 5px;
  bottom: 19px;
  left: 70px; }

.toggle span {
  display: block;
  position: absolute;
  width: 30px;
  border-bottom: solid 3px #000;
  -webkit-transition: .35s ease-in-out;
  /*変化の速度を指定*/
  -moz-transition: .35s ease-in-out;
  /*変化の速度を指定*/
  transition: .35s ease-in-out;
  /*変化の速度を指定*/
  left: 6px;
  border: 1px solid #333; }

.toggle span:nth-child(1) {
  top: 9px; }

.toggle span:nth-child(2) {
  top: 18px; }

.toggle span:nth-child(3) {
  top: 27px; }

.toggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

.fix-header {
  opacity: 0; }

section {
  margin-top: 100px;
  padding-bottom: 100px; }
  @media screen and (max-width: 500px) {
    section {
      margin-top: 0; } }

section.mv {
  margin-top: 0; }

a:hover {
  cursor: none; }

h1 {
  padding-bottom: 45px;
  font-size: 2.0rem;
  letter-spacing: 5px; }
  h1 a {
    color: #333;
    font-weight: bold; }

h2 {
  font-size: 4.0rem;
  margin: 30px 0;
  letter-spacing: 5px;
  font-weight: bold; }

/* 画面外にいる状態 */
.fadein {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 500ms; }

/* 画面内に入った状態 */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0); }

.fadeConts {
  width: 500px;
  height: 400px;
  margin: 40px auto;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.fadeConts.show {
  opacity: 1; }

.block1, .block2 {
  padding: 50px; }
  @media screen and (max-width: 767px) {
    .block1, .block2 {
      padding: 0; } }

.block1 {
  position: relative;
  background-color: #e38580; }

.block1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  /*ここで三角形のサイズを決める。
  必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 0 0 100px 100vw;
  border-color: transparent transparent #fff transparent; }

.slideConts {
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s; }

.slideContsR {
  transform: translate(800px, 0); }

.slideContsL {
  transform: translate(-800px, 0);
  margin-top: 100px; }
  @media screen and (max-width: 767px) {
    .slideContsL {
      margin-top: 0; } }

.slideContsL.show {
  transform: translate(50px, 0) !important; }
  @media screen and (max-width: 500px) {
    .slideContsL.show {
      transform: translate(0) !important; } }

.slideContsP {
  transform: translate(-800px, 0);
  margin-top: 100px; }
  @media screen and (max-width: 767px) {
    .slideContsP {
      margin-top: 0; } }

.slideContsP.show {
  transform: translate(50px, 0) !important; }
  @media screen and (max-width: 500px) {
    .slideContsP.show {
      transform: translate(50px) !important; } }

.slideContsR.show {
  transform: translate(-50px, 0) !important; }
  @media screen and (max-width: 500px) {
    .slideContsR.show {
      transform: translate(0) !important; } }

.arrow-box {
  transform: rotate(90deg);
  position: relative;
  left: 600px;
  top: 650px; }
  @media screen and (max-width: 767px) {
    .arrow-box {
      left: 150px;
      top: 160px; } }
  .arrow-box p {
    position: relative;
    top: 10px; }

.arrow {
  width: 100px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: skew(45deg); }

/*# sourceMappingURL=style.css.map */
