@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

nav.navmenu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  text-align: left;
  width: 50%;
  transform: translateY(-100%);
  transition: all 0.6s; }

nav.navmenu ul {
  width: 100%;
  margin: 20px auto 100px;
  padding: 0; }

nav.navmenu ul li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 50%;
  margin: 0 0 0 173px;
  border-bottom: 3px dotted #333; }

nav.navmenu ul li:last-child {
  padding-bottom: 0; }

nav.navmenu ul li a {
  display: block;
  color: #333;
  font-size: 16px;
  z-index: 100; }

nav.navmenu ul li a:hover {
  background-color: #f7f7f7;
  color: #fff; }

nav.navmenu li {
  height: 50px;
  line-height: 50px; }

nav.navmenu.active {
  transform: translateY(0%); }

.toggle {
  display: block;
  position: relative;
  width: 42px;
  height: 41px;
  cursor: pointer;
  z-index: 3;
  padding: 5px;
  bottom: 19px;
  left: 70px; }

.toggle span {
  display: block;
  position: absolute;
  width: 30px;
  border-bottom: solid 3px #000;
  -webkit-transition: .35s ease-in-out;
  /*変化の速度を指定*/
  -moz-transition: .35s ease-in-out;
  /*変化の速度を指定*/
  transition: .35s ease-in-out;
  /*変化の速度を指定*/
  left: 6px;
  border: 1px solid #333; }

.toggle span:nth-child(1) {
  top: 9px; }

.toggle span:nth-child(2) {
  top: 18px; }

.toggle span:nth-child(3) {
  top: 27px; }

.toggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

h1 {
  font-size: 2.8rem;
  letter-spacing: 5px; }

.mv {
  padding-bottom: 200px; }
  .mv_inner {
    width: 1080px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px; }
  .mv_img {
    width: 70%; }
    .mv_img img {
      width: 100%; }
  .mv_txt {
    margin-top: 100px; }
    .mv_txt h2 {
      color: #fff;
      text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
      font-size: 4.0rem;
      line-height: 65px; }
    .mv_txt a {
      color: #333;
      line-height: 30px; }
  .mv_nav {
    width: 150px;
    margin: 0 auto; }
    .mv_nav li:hover {
      border-bottom: 1px solid grey; }

.about {
  padding-bottom: 120px; }
  .about_inner {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .about_txt {
    background-color: #fbe9e9;
    padding: 30px 100px 30px 30px; }
  .about_sns {
    display: flex;
    width: 150px;
    margin: 0 0 0 auto; }
    .about_sns li {
      margin: 0 0 0 auto; }
    .about_sns img {
      width: 30px; }

.works_inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto; }
.works_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 58px; }
.works_box {
  width: 300px;
  margin: 20px 0;
  position: relative;
  overflow: hidden; }
  .works_box img {
    box-shadow: 5px 5px 18px lightgrey;
    width: 100%; }
.works a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.thumbnail-wrapper {
  display: block;
  margin: 0;
  padding: 0; }

.thumbnail-wrapper::after {
  transition: 0.5s;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0; }

.thumbnail-wrapper img {
  display: block;
  max-width: 100%; }

.more_txt {
  transition: 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 6px 20px;
  width: 100px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border: 2px solid #fff;
  opacity: 0;
  font-weight: bold;
  letter-spacing: 0.4rem; }

.works_box:hover .thumbnail-wrapper::after {
  opacity: 1; }

.works_box:hover .more_txt {
  opacity: 1; }

.price_inner {
  width: 1080px;
  background-color: #f9f9f9;
  margin: 0 auto;
  max-width: 100%;
  height: 500px;
  padding-top: 60px; }
.price_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 100px; }
.price_order li:hover {
  border-bottom: 1px solid #000; }
.price h2 {
  text-align: center; }
.price h3 {
  font-weight: bold;
  text-align: center; }
.price span {
  display: inline-block;
  width: 30px;
  border-top: 2px solid pink;
  position: relative;
  bottom: 15px; }

.skills h2 {
  text-align: right; }
.skills_inner {
  width: 1080px;
  max-width: 100%; }
.skills_wrapper {
  width: 1080px;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between; }
.skills_box {
  width: 22%; }
  .skills_box img {
    width: 100%; }

.contact h2 {
  text-align: center; }
.contact_inner {
  width: 820px;
  max-width: 100%;
  margin: 0 auto; }

#wrapper {
  position: relative;
  overflow: hidden;
  width: 1080px;
  margin: 0 auto; }

.slideConts {
  width: 650px;
  height: 500px;
  margin: 40px auto;
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s; }

.slideContsR {
  transform: translate(800px, 0); }

.slideContsL {
  transform: translate(-800px, 0);
  margin-top: 100px; }

.slideContsL.show {
  transform: translate(50px, 0) !important; }

.slideContsR.show {
  transform: translate(-50px, 0) !important; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #333; }

.container {
  overflow: hidden; }

.header {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  max-width: 100%;
  margin-left: 7.8%;
  margin-bottom: 120px;
  margin-top: 50px;
  position: fixed;
  z-index: 1000; }

a {
  cursor: pointer; }

h1 a {
  color: #333;
  font-weight: bold; }

h2 {
  font-size: 4.0rem;
  margin: 30px 0; }

section {
  margin-top: 50px;
  padding-bottom: 100px; }

/* 画面外にいる状態 */
.fadein {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 500ms; }

/* 画面内に入った状態 */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0); }

.fadeConts {
  width: 500px;
  height: 400px;
  margin: 40px auto;
  background-color: lightpink;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.fadeConts.show {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
